.block_fonction__title {
  margin: 30px;
}

.navbar {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
  padding: 10px;
  position: relative;
}

.navbar__title {
  display: block;
  margin: 10px auto;
}

.navbar__i {
  position: absolute;
  left: 2rem;
  top: 25px;
  font-size: 1.2rem;
  color: #000;
}

.block_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e0e0e0;
}

.block_location__i {
  padding: 15px;
  font-size: 20px;
}

.block_explore {
  background-color: #f9f9f9;
  padding: 10px 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_explore__title {
  font-size: 30px;
  text-align: center;
}

.block_explore__text {
  text-align: center;
  margin-top: 0;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .footer {
    text-align: center;
  }
}

.footer_title {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
}

.footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer_link__a {
  text-decoration: none;
  color: white;
}

.footer_link__a, .footer_link__top {
  margin-bottom: 10px;
}

.footer_link__i {
  margin-right: 0.5rem;
  width: 1.2rem;
}

.btn {
  background: linear-gradient(175deg, #ff79da -14%, #9356dc 60%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 20px 30px;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.356);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.356);
  width: 235px;
  display: block;
  margin: 10px auto;
  text-align: center;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.block__title {
  margin: 20px;
}

@media (min-width: 768px) {
  .block__title {
    text-align: center;
    font-size: 25px;
  }
}

.block_heart_animate {
  font-size: 30px;
  padding: 0 40px 30px 0;
}

.block_heart_animate:hover .first {
  opacity: 1;
}

.block_heart_animate:hover .second {
  opacity: 0;
}

.first,
.second {
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.first {
  opacity: 0;
  background: linear-gradient(175deg, #ff79da -14%, #9356dc 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
}

.block_fonction_base, .block_fonction__content, .block_fonction__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f9f9f9;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  text-align: center;
}

.block_fonction {
  margin: 50px 0;
}

@media (min-width: 768px) {
  .block_fonction_list {
    width: 500px;
    margin: auto;
  }
}

.block_fonction__content_i {
  padding: 15px;
  font-size: 20px;
  color: #7a7a7a;
}

.block_fonction__box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
  padding: 10px 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
}

.block_fonction__number {
  margin-left: -16px;
  margin-top: 12px;
  background-color: #9356dc;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  color: white;
}

.block_fonction__txt {
  font-weight: 700;
}

.i--primary {
  color: #9356dc;
}

.block_restaurant {
  background-color: #f9f9f9;
  padding: 10px;
}

@media (min-width: 768px) {
  .block_restaurant {
    padding: 30px;
  }
}

.block_restaurant__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .block_restaurant__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: auto;
  }
}

.block_restaurant__card {
  width: 90%;
  background-color: white;
  color: black;
  margin: 20px auto;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
  position: relative;
  text-decoration: none;
}

@media (min-width: 768px) {
  .block_restaurant__card {
    width: 400px;
    margin: 20px 10px;
  }
}

.block_restaurant__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block_restaurant__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.block_restaurant__badge {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 15px;
  right: 20px;
}

.block_restaurant__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.block_restaurant__title {
  margin-bottom: 0;
}

.block_restaurant__txt {
  margin-top: 5px;
}

.overflow {
  overflow: hidden;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
  -webkit-animation: loader 0.01s forwards;
          animation: loader 0.01s forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loader_content {
  border-radius: 50%;
  margin-bottom: 50px;
  width: 50px;
  height: 50px;
  -webkit-animation: blur 1.5s linear infinite;
          animation: blur 1.5s linear infinite;
}

@-webkit-keyframes blur {
  0% {
    -webkit-box-shadow: -10px 4px 0px #9356dc, 0px -14px 0px #ff79da, 8px 14px 0px #99e2d0;
            box-shadow: -10px 4px 0px #9356dc, 0px -14px 0px #ff79da, 8px 14px 0px #99e2d0;
  }
  10% {
    -webkit-box-shadow: -10px 4px 10px #9356dc, 0px -14px 10px #ff79da, 8px 14px 10px #99e2d0;
            box-shadow: -10px 4px 10px #9356dc, 0px -14px 10px #ff79da, 8px 14px 10px #99e2d0;
  }
  20% {
    -webkit-box-shadow: -10px 4px 20px #9356dc, 0px -14px 20px #ff79da, 8px 14px 20px #99e2d0;
            box-shadow: -10px 4px 20px #9356dc, 0px -14px 20px #ff79da, 8px 14px 20px #99e2d0;
  }
  30% {
    -webkit-box-shadow: -10px 4px 30px #9356dc, 0px -14px 30px #ff79da, 8px 14px 30px #99e2d0;
            box-shadow: -10px 4px 30px #9356dc, 0px -14px 30px #ff79da, 8px 14px 30px #99e2d0;
  }
  40% {
    -webkit-box-shadow: -10px 4px 40px #9356dc, 0px -14px 40px #ff79da, 8px 14px 40px #99e2d0;
            box-shadow: -10px 4px 40px #9356dc, 0px -14px 40px #ff79da, 8px 14px 40px #99e2d0;
  }
  50% {
    -webkit-box-shadow: -10px 4px 50px #9356dc, 0px -14px 50px #ff79da, 8px 14px 50px #99e2d0;
            box-shadow: -10px 4px 50px #9356dc, 0px -14px 50px #ff79da, 8px 14px 50px #99e2d0;
  }
  70% {
    -webkit-box-shadow: -10px 4px 70px #9356dc, 0px -14px 70px #ff79da, 8px 14px 70px #99e2d0;
            box-shadow: -10px 4px 70px #9356dc, 0px -14px 70px #ff79da, 8px 14px 70px #99e2d0;
  }
  100% {
    -webkit-box-shadow: -10px 4px 100px #9356dc, 0px -14px 100px #ff79da, 8px 14px 100px #99e2d0;
            box-shadow: -10px 4px 100px #9356dc, 0px -14px 100px #ff79da, 8px 14px 100px #99e2d0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes blur {
  0% {
    -webkit-box-shadow: -10px 4px 0px #9356dc, 0px -14px 0px #ff79da, 8px 14px 0px #99e2d0;
            box-shadow: -10px 4px 0px #9356dc, 0px -14px 0px #ff79da, 8px 14px 0px #99e2d0;
  }
  10% {
    -webkit-box-shadow: -10px 4px 10px #9356dc, 0px -14px 10px #ff79da, 8px 14px 10px #99e2d0;
            box-shadow: -10px 4px 10px #9356dc, 0px -14px 10px #ff79da, 8px 14px 10px #99e2d0;
  }
  20% {
    -webkit-box-shadow: -10px 4px 20px #9356dc, 0px -14px 20px #ff79da, 8px 14px 20px #99e2d0;
            box-shadow: -10px 4px 20px #9356dc, 0px -14px 20px #ff79da, 8px 14px 20px #99e2d0;
  }
  30% {
    -webkit-box-shadow: -10px 4px 30px #9356dc, 0px -14px 30px #ff79da, 8px 14px 30px #99e2d0;
            box-shadow: -10px 4px 30px #9356dc, 0px -14px 30px #ff79da, 8px 14px 30px #99e2d0;
  }
  40% {
    -webkit-box-shadow: -10px 4px 40px #9356dc, 0px -14px 40px #ff79da, 8px 14px 40px #99e2d0;
            box-shadow: -10px 4px 40px #9356dc, 0px -14px 40px #ff79da, 8px 14px 40px #99e2d0;
  }
  50% {
    -webkit-box-shadow: -10px 4px 50px #9356dc, 0px -14px 50px #ff79da, 8px 14px 50px #99e2d0;
            box-shadow: -10px 4px 50px #9356dc, 0px -14px 50px #ff79da, 8px 14px 50px #99e2d0;
  }
  70% {
    -webkit-box-shadow: -10px 4px 70px #9356dc, 0px -14px 70px #ff79da, 8px 14px 70px #99e2d0;
            box-shadow: -10px 4px 70px #9356dc, 0px -14px 70px #ff79da, 8px 14px 70px #99e2d0;
  }
  100% {
    -webkit-box-shadow: -10px 4px 100px #9356dc, 0px -14px 100px #ff79da, 8px 14px 100px #99e2d0;
            box-shadow: -10px 4px 100px #9356dc, 0px -14px 100px #ff79da, 8px 14px 100px #99e2d0;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 #99e2d0;
            box-shadow: 0 0 0 0 #99e2d0;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 20px rgba(153, 226, 208, 0);
            box-shadow: 0 0 0 20px rgba(153, 226, 208, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(153, 226, 208, 0);
            box-shadow: 0 0 0 0 rgba(153, 226, 208, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 #99e2d0;
            box-shadow: 0 0 0 0 #99e2d0;
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 20px rgba(153, 226, 208, 0);
            box-shadow: 0 0 0 20px rgba(153, 226, 208, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(153, 226, 208, 0);
            box-shadow: 0 0 0 0 rgba(153, 226, 208, 0);
  }
}

@-webkit-keyframes loader {
  to {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  to {
    opacity: 0;
    z-index: -10;
  }
}

.header__img {
  max-width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.block_menu {
  background-color: #f9f9f9;
  padding: 10px 20px 50px 20px;
  position: relative;
  margin-top: -68px;
  width: 100%;
  border-radius: 50px 50px 0 0;
}

.block_menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
}

.block_menu__i {
  padding: 30px;
  font-size: 25px;
}

@media (min-width: 1024px) {
  .block_menu__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.block_menu__subtitle {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: 400;
}

.block_menu__subtitle::after {
  content: "";
  width: 45px;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.block_menu__submenu {
  margin-bottom: 60px;
}

@media (min-width: 1024px) {
  .block_menu__submenu {
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 33%;
  }
}

.block_menu__card {
  background-color: white;
  margin: 20px 0;
  padding: 0 20px;
  border-radius: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
  -webkit-animation: cardAppear 0.5s;
          animation: cardAppear 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  width: 100%;
}

.block_menu__card:hover .block_menu__card__top {
  min-width: calc(100% - 85px);
}

.block_menu__card:hover .confirmation__i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.block_menu__card__top {
  min-width: calc(100% - 30px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.block_menu__card__title, .block_menu__card__txt, .block_menu__card__bottom__txt {
  margin: 2px 0;
}

.block_menu__card__title {
  font-size: 15px;
}

.block_menu__card__txt {
  font-size: 15px;
}

.block_menu__card__title, .block_menu__card__txt {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.block_menu__card__bottom__txt {
  font-weight: bold;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  min-width: 40px;
  padding-bottom: 8px;
  margin-right: 10px;
}

.block_menu__confirmation {
  background-color: #99e2d0;
  width: 70px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.confirmation__i {
  font-size: 25px;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@-webkit-keyframes cardAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes cardAppear {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.delay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.delay-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
/*# sourceMappingURL=main.css.map */