.btn {
  background: linear-gradient(
    175deg,
    $secondary-color -14%,
    $primary-color 60%
  );
  transition: 0.2s;
  padding: 20px 30px;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.356);
  width: 235px;
  display: block;
  margin: 10px auto;
  text-align: center;
  &:hover {
    transform: scale(1.1);
  }
}
